<main>
  <mat-accordion class="example-headers-align acordion" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Allomancy</b>
        </mat-panel-title>
        <mat-panel-description>
          Creado por Legobmw99
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Este es el mod que otorga temática al server, con él podrás ser un brumoso o nacido de la bruma.</p>

      <p>El mod incluye la habilidad para quemar los dieciséis metales conocidos en Mistborn Era 2</p>

      <p>Los dieciséis metales alománticos están adaptados a Minecraft, así que no son cien por ciento fieles a los
        libros.</p>

      <p>Lo que es necesario para empezar a jugar es saber que al entrar en el servidor tendrás por defecto la habilidad
        de quemar un solo metal. Esta habilidad puede ampliarse para tener más poderes alománticos con Hemalurgia.</p>

      <p>Recomendamos no mirar información sobre la funcionalidad de cada metal alomántico en el mod para hacer la
        experiencia en el servidor más placentera y aprender jugando.</p>

      <p>Se ha cambiado un objeto de este mod, el “Lerasium Nugget” que antes otorgaba los dieciséis metales alománticos
        debido a su fácil obtención y crafteo. El objeto ya no es comestible, pero en el mercado equivale a una suma
        importante de Atium.</p>

      <a href="https://www.curseforge.com/minecraft/mc-mods/allomancy">Link de CurseForge</a>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Atium</b>
        </mat-panel-title>
        <mat-panel-description>
          Creado por AndruLightweaver
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Este mod añade cuatro objetos: El Bloque de Atium, el Atium, la Pepita de Atium y el Monedero de Atium.
        <strong>El Atium es la moneda del servidor</strong>, si quieres vender algo lo puedes vender a cambio de atium,
        si quieres comprar algo lo compras usando atium.
      </p>
      <p>Se obtiene mediante Tradeos en el spawn y trabajos para la comunidad. Para más información ir al apartado de
        Info del spawn en Reglas.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Hemalurgia</b>
        </mat-panel-title>
        <mat-panel-description>
          Creado por AndruLightweaver
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Este mod añade los “Clavos Hemalúrgicos” de los dieciséis metales alománticos conocidos en Mistborn Era 2.</p>
      <p>Estos clavos pueden ser obtenidos mediante Tradeos de Atium en el spawn del servidor.</p>
      <p>Para que un clavo otorgue el poder a un jugador es necesario que otra persona golpee con el clavo en la mano al
        jugador que quiere obtener el poder.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Masonry</b>
        </mat-panel-title>
        <mat-panel-description>
          Creado por Team Metallurgy
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Este mod añade bloques nuevos de los diferentes tipos de piedra que ya están en minecraft.</p>
      <p>Los bloques de este mod se consiguen desde el cortapiedras.</p>

      <a href="https://www.curseforge.com/minecraft/mc-mods/masonry">Link de CurseForge</a>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Traveler's Backpack</b>
        </mat-panel-title>
        <mat-panel-description>
          Creado por Tiviacz1337
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Este mod añade una increíble variedad de mochilas al juego; en ellas puedes guardar más objetos en tu
        inventario sin necesidad de Ender Chest o Shulker Boxes, entre otras cosas como guardar líquidos como agua o
        lava, o una cama desplegable para pasar la noche donde quieras.</p>
      <p>Se consiguen con intercambios de aldeanos. Tambien lo puedes encontrar en el loot de los cofres.</p>

      <a href="https://www.curseforge.com/minecraft/mc-mods/travelers-backpack">Link de CurseForge</a>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Claim Chunks</b>
        </mat-panel-title>
        <mat-panel-description>
          Creado por Lupicus
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Añade un bloque que permite al jugador reclamar chunks. Dicho bloque también permite al jugar dar permisos a
        otros jugadores para poner visitar o romper bloques en dicho chunk.</p>
      <p>El limite en el servidor es de 6 chunks por persona. El crafteo es el siguiente:</p>
      <img src="https://media.forgecdn.net/attachments/thumbnails/312/915/310/172/claim-chunk-recipe.png"
        alt="1 cartel con 8 de redstone rodeandolo">
      <br>
      <a href="https://www.curseforge.com/minecraft/mc-mods/claim-chunk">Link de CurseForge</a>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Simple Login</b>
        </mat-panel-title>
        <mat-panel-description>
          Creado por Seraph_jack
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Este mod obliga a los jugadores a necesitar una contraseña para poder entrar. De esta forma, si alguien intenta
        entrar al servidor desde otro PC deberá de poner su contraseña personal.</p>
      <p><strong>ES IMPORTANTE RECORDAR LA CONTRASEÑA SI CAMBIAS DE PC</strong></p>
      <br>
      <a href="https://www.curseforge.com/minecraft/mc-mods/simple-login">Link de CurseForge</a>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Customizable Elytra</b>
        </mat-panel-title>
        <mat-panel-description>
          Creado por Hidoni
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Permite teñir a Elytra y colocar estandartes sobre ella, de la misma forma que las armaduras y los escudos de
        cuero.</p>
      <p>Los crafteos son los siguientes:</p>
      <img src="https://i.imgur.com/65w3fye.gif" alt="">
      <br>
      <img src="https://i.imgur.com/nabKwkn.gif" alt="">
      <br>
      <a href="https://www.curseforge.com/minecraft/mc-mods/customizable-elytra">Link de CurseForge</a>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Drink Beer</b>
        </mat-panel-title>
        <mat-panel-description>
          Creado por Lekavar
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Usa el barril para preparar cervezas que se pueden colocar y beber en Minecraft.</p>
      <p>Las recetas son las siguientes:</p>
      <img src="https://media.forgecdn.net/attachments/396/372/brewingbeer.gif" alt="" width="300px">
      <br>
      <img src="https://media.forgecdn.net/attachments/396/373/beersrecipes.png" alt="" width="300px">
      <br>
      <a href="https://www.curseforge.com/minecraft/mc-mods/drink-beer-forge">Link de CurseForge</a>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Farmers Delight</b>
        </mat-panel-title>
        <mat-panel-description>
          Creado por Vectorwing
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Farmer's Delight es un mod que se expande suavemente sobre la agricultura y la cocina en Minecraft.</p>
      <p>Con una colección de herramientas rústicas y estaciones de trabajo, puede mejorar los cimientos de sus parcelas
        agrícolas, preparar una variedad de comidas y refrigerios saludables para usted y sus mascotas, e incluso
        equiparse un poco mejor para aventurarse por la tierra.</p>
      <p>Este mod se centra en dar más propósito a los elementos que los jugadores a menudo olvidan o pasan por alto
        (como leche, champiñones, remolachas, etc.). ¡Esperamos que esto te anime a cultivar un poco de todo!</p>
      <br>
      <a href="https://www.curseforge.com/minecraft/mc-mods/farmers-delight">Link de CurseForge</a>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Supplementaries</b>
        </mat-panel-title>
        <mat-panel-description>
          Creado por Vectorwing
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Supplementaries es un mod de Forge altamente configurable enfocado en agregar contenido valioso que llena los
        vacíos que tiene la vainilla. Sus características están diseñadas para ser funcionales, estéticamente viables y
        complementarias al contenido preexistente y brindan muchas formas nuevas de mejorar su experiencia Vanilla.</p>
      <br>
      <a href="https://www.curseforge.com/minecraft/mc-mods/Supplementaries">Link de CurseForge</a>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Just Another Rotten Flesh To Leather</b>
        </mat-panel-title>
        <mat-panel-description>
          Creado por Alexdaum1
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Con JRFTL puede convertir carne podrida en cuero. Primero se debe fabricar una carne preparada a partir de 4
        carnes podridas y luego fundirse en un horno.</p>
      <br>
      <a href="https://www.curseforge.com/minecraft/mc-mods/just-another-rotten-flesh-to-leather-mod">Link de
        CurseForge</a>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Simple Shops</b>
        </mat-panel-title>
        <mat-panel-description>
          Creado por Wolforce
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Este mod agrega tiendas que permiten el intercambio de items de forma sencilla entre jugadores.</p>
      <br>
      <a href="https://www.curseforge.com/minecraft/mc-mods/simple-shops">Link de CurseForge</a>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> <b>Reap</b> </mat-panel-title>
        <mat-panel-description> Creado por henkelmax </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Reap Mod añade unas funcionalidades muy sencillas, pero que nos facilitará la tarea de cosechar una vez roto el
        cultivo solo tendremos que dar clic derecho y se cultivara uno nuevo ahorrándonos un poco de tiempo de igual
        manera con los arboles. Otra función que añade es cuando rompemos un tronco de un árbol este se romperá por
        completo dándonos toda la madera.</p>
      <br>
      <a href="https://www.curseforge.com/minecraft/mc-mods/reap-mod">Link de CurseForge</a>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> <b>Golden Hopper</b> </mat-panel-title>
        <mat-panel-description> Creado por MrCrayfish </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Golden Hopper Mod es un mod que solo cuenta con un objeto el cual es un hopper de oro. Este nuevo elemento que
        agrega el Mod puede filtrar objetos de manera muy fácil, solo tendremos que colocar el item que queremos filtrar
        a la izquierda y ese sera filtrado automáticamente, sin necesidad de hacer mecanismos complicados de redstone...
      </p>
      <br>
      <a href="https://www.curseforge.com/minecraft/mc-mods/golden-hopper"> Link de CurseForge</a>
    </mat-expansion-panel>

  </mat-accordion>
  <br>
  <br>
  <p>&nbsp;</p>
</main>
