<main>
  <mat-accordion class="example-headers-align acordion" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Mods Obligatorios</b>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-list role="list" class="lista">
        <mat-list-item role="listitem" class="elemento">Allomancy</mat-list-item>
        <p class="descripcion"><i>Agrega el sistema de alomancia de Nacidos de la Bruma</i></p>
        <mat-list-item role="listitem">Atium</mat-list-item>
        <p class="descripcion"><i>Agrega el Atium como ítem, que sirve como moneda</i></p>
        <mat-list-item role="listitem" class="elemento">Backpacks</mat-list-item>
        <p class="descripcion"><i>Mochilas para aumentar el espacio de inventario por defecto</i></p>
        <mat-list-item role="listitem" class="elemento">Claim-chunk</mat-list-item>
        <p class="descripcion"><i>Agrega un pequeño bloque crafteable que te permite proteger un chunk</i></p>
        <mat-list-item role="listitem" class="elemento">Customizable-elytra</mat-list-item>
        <p class="descripcion"><i>Permite colocar estampados a tus Elytras</i></p>
        <mat-list-item role="listitem" class="elemento">Drink-beer</mat-list-item>
        <p class="descripcion"><i>Agrega un sistema de cervezas que funcionan como pociones</i></p>
        <mat-list-item role="listitem" class="elemento">Farmers-delight</mat-list-item>
        <p class="descripcion"><i>Agrega más comidas y nuevos bloques de decoración</i></p>
        <mat-list-item role="listitem" class="elemento">Golden-hopper</mat-list-item>
        <p class="descripcion"><i>Filtros de redstone pero sin redstone</i></p>
        <mat-list-item role="listitem" class="elemento">Hemalurgia</mat-list-item>
        <p class="descripcion"><i>Permite adquirir nuevos poderes alomanticos</i></p>
        <mat-list-item role="listitem" class="elemento">JARF2LM</mat-list-item>
        <p class="descripcion"><i>Permite convertir la carne podrida en cuero</i></p>
        <mat-list-item role="listitem" class="elemento">Masonry</mat-list-item>
        <p class="descripcion"><i>Agregar muchos nuevos bloques de construccion</i></p>
        <mat-list-item role="listitem" class="elemento">Reap</mat-list-item>
        <p class="descripcion"><i>Permite cosechar y talar árboles de una forma más cómoda</i></p>
        <mat-list-item role="listitem" class="elemento">Simple-login</mat-list-item>
        <p class="descripcion"><i>Protege tu cuenta poniendo una contraseña</i></p>
        <mat-list-item role="listitem" class="elemento">Simple-shops</mat-list-item>
        <p class="descripcion"><i>Agrega un bloque para comerciar con otros jugadores</i></p>
        <mat-list-item role="listitem" class="elemento">Supplementaries</mat-list-item>
        <p class="descripcion"><i>Agrega bloques e items funcionales y de decoración</i></p>
        <mat-list-item role="listitem" class="elemento">World-edit</mat-list-item>
        <p class="descripcion"><i>Permite a los administradores poder modificar el mapa de forma más sencilla</i></p>
        <mat-list-item role="listitem" class="elemento">Worldprotector</mat-list-item>
        <p class="descripcion"><i>Permite a los administradores proteger zonas de la ciudad</i></p>
      </mat-list>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Mods Opcionales</b>
        </mat-panel-title>
        <mat-panel-description>
          Te recomendamos que los uses
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list role="list" class="lista">
        <mat-list-item role="listitem" class="elemento">JEI</mat-list-item>
        <p class="descripcion"><i>Permite ver los crafteos y/o utilidades de los ítems</i></p>
        <mat-list-item role="listitem">BetterF3</mat-list-item>
        <p class="descripcion"><i>Mejora la interfaz por defecto del modo debug</i></p>
        <mat-list-item role="listitem">Hwyla</mat-list-item>
        <p class="descripcion"><i>Da información extra sobre el bloque que estas mirando</i></p>
        <mat-list-item role="listitem">Neat</mat-list-item>
        <p class="descripcion"><i>Agrega una barra de vida sobre las entidades</i></p>
        <mat-list-item role="listitem">Xaeros-Minimap</mat-list-item>
        <p class="descripcion"><i>Mini-mapa muy configurable, permite poner puntos de ruta</i></p>
        <mat-list-item role="listitem">Appleskin</mat-list-item>
        <p class="descripcion"><i>Muestra cuanto te va a curar la comida</i></p>
        <mat-list-item role="listitem">Sound-filters</mat-list-item>
        <p class="descripcion"><i>Agrega nuevos y emocionantes sonidos</i></p>
        <mat-list-item role="listitem">True-darkness</mat-list-item>
        <p class="descripcion"><i>Hace la noche más oscura, perfecto para los que quieren rolear</i></p>
        <mat-list-item role="listitem">Item-physics</mat-list-item>
        <p class="descripcion"><i>Agrega físicas a algunos items, como los que sueltas de la mano</i></p>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
  <br>
  <br>
  <p>&nbsp;</p>
</main>
